@{
    var userName = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClubManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClubManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* @if(User.Identity.IsAuthenticated && User.IsInRole("Admin")) *@
                        @* @if(User.Identity.IsAuthenticated) *@                      
                        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated) @* Tej używałem *@
                        {
                            <li>@userName</li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="LogoutAccount">Logout</a>
                            </li>
                            @if (!User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="plan" asp-action="ShowPlan">Plan</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="ShowAccounts">Lista kont</a>
                                </li>
                            }
                        }
                        else
                        {    
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="account" asp-action="Login">Login</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="player" asp-action="showPlayers">Piłkarze</a>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="coach" asp-action="showCoaches">Trenerzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Statistics" asp-action="ShowStatistics">Statystyki</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="GroupTraining" asp-action="ShowGT">Treningi grupowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="IndividualTraining" asp-action="ShowPlayers">Treningi indywidualne</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        &copy; 2023 - ClubMenagment
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
