@model Footballer
<style>
    button, .fields {
        display: block;
    }
</style>
<div>
    <h1>Edycja piłkarza</h1>
    <p><a asp-controller="player" asp-action="ShowPlayers">Powrót</a></p>
</div>
@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger ">
        @TempData["Alert"]
    </div>
}
<form method="post" asp-action="EditPlayer">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="AccountId" />

    <div class="fields">
        <label asp-for="Name">Imię</label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="fields">
        <label asp-for="LastName">Nazwisko</label>
        <input type="text" asp-for="LastName" />
    </div>
    <div class="fields">
        <label asp-for="AgeCategory">Kategoria wiekowa</label>
        <select asp-for="AgeCategory">
            <option value="firstTeam">Seniorzy</option>
            <option value="reserves">Rezerwy</option>
            <option value="juniors">Juniorzy</option>
        </select>
    </div>
    <div class="fields">
        <label asp-for="Country">Kraj</label>
        <input type="text" asp-for="Country" />
    </div>
    <div class="fields">
        <label asp-for="DateOfBirth">Data Urodzenia</label>
        <input type="date" asp-for="DateOfBirth" />
    </div>
    <div class="fields">
        <label asp-for="Growth">Wzrost</label>
        <input type="number" asp-for="Growth" />cm
    </div>
    <div class="fields">
        <label asp-for="Weight">Waga</label>
        <input type="number" asp-for="Weight" />kg
    </div>
    <div class="fields">
        <label asp-for="Position">Pozycja</label>
        <select asp-for="Position">
            <option value="goalkeeper">Bramkarz</option>
            <option value="defender">Obrońca</option>
            <option value="helper">Pomocnik</option>
            <option value="attacker">Napastnik</option>
        </select>
    </div>
    <div class="fields">
        <label asp-for="PlayerNumber">Numer zawodnika</label>
        <input type="number" asp-for="PlayerNumber" />
    </div>
    <div class="fields">
        <label asp-for="WhichFoot">Dominująca noga</label>
        <select asp-for="WhichFoot">
            <option value="right">Prawa</option>
            <option value="left">Lewa</option>
            <option value="both">Obunożny</option>
        </select>
    </div>
    <button type="submit">Edytuj zawodnika</button>
</form>