@model IndividualTraining;

<style>
    button, .fields {
        display: block;
    }
</style>
<div>
    <h1>Edycja indywidualnego treningu</h1>
    <p><a asp-controller="IndividualTraining" asp-action="ShowIT" asp-route-id="@Model.FootballerId">Powrót</a></p>
</div>
@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger ">
        @TempData["Alert"]
    </div>
}
<form method="post" asp-action="EditIT">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="FootballerId" />

    <div class="fields">
        <label asp-for="Title">Tytuł</label>
        <input type="text" asp-for="Title" />
    </div>

    <div class="fields">
        <label asp-for="Description">Opis</label>
        <input type="text" asp-for="Description" />
    </div>

    <div class="fields">
        <label asp-for="Place">Miejsce</label>
        <input type="text" asp-for="Place" />
    </div>

    <div class="fields">
        <label asp-for="DateOfTraining">Dzień</label>
        <input type="date" asp-for="DateOfTraining" />
    </div>

    <div class="fields">
        <label asp-for="StartTraining">Start treningu</label>
        <input type="time" asp-for="StartTraining" />
    </div>

    <div class="fields">
        <label asp-for="EndTraining">Koniec treningu</label>
        <input type="time" asp-for="EndTraining" />
    </div>

    <button type="submit">Edytuj indywidualny trening</button>
</form>
