@model Account;

@if(TempData["Alert"] != null)
{
    <div class="alert alert-danger">
        @TempData["Alert"]
    </div>
}
<p>Register</p>
<form method="post" asp-action="AddAccount">
    <div>
        <label asp-for="AccountName">AccountName:</label>
        <input type="text" asp-for="AccountName" required />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input type="email" asp-for="Email" required />
    </div>
    <div>
        <label asp-for="PasswordHash">Hasło:</label>
        <input type="password" asp-for="PasswordHash" required />
    </div>
    <div>
        <label asp-for="Role">Rola:</label>
        <select asp-for="Role">
            <option value="Player">Piłkarz</option>
            <option value="Coach">Trener</option>
            <option value="Admin">Administrator</option>
        </select>
    </div>
    <div>
        <button type="submit">Rejestracja</button>
    </div>
</form>
